body {
  background-color: rgb(115, 66, 162);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px;
}
.ardsList {
  display: flex;
}

.card {
  width: 833px !important;
}

.hidden {
  visibility: hidden;
}

/* .visible {
  visibility: visible;
} */
